<form class="well" action="/stylists" method="post">
  <div class="form-group">
    <label for="name">Name</label>
    <input id = "name" type="text" name="name" class="form-control">
  </div>
  <button type="submit" class="btn btn-success">Add Stylist</button>
</form>

<a href="/" class="btn btn-default active" role="button">Home</a>
